<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <!-- latest mar news-->
    <!-- bootstrap container -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="color:red;width:100%;height:300px;background-color:grey;border-radius: 15rpx;border-radius:6px;display: flex;justify-content: center;align-items: center;">
                    
                    <div>
                        <a href="/scrape">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            Scrape
                        </button></a>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Latest News</h1>
                    <div class="row">
                        <div class="col-md-8">
                            <div>
                                <h3>{{news_title}}</h3>
                            </div>
                            <div>
                                <p>{{news_text}}</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <!-- show featured_image_url -->
            <div class="col-md-8">
                <img src="{{featured_image_url}}" alt="featured_image_url">
            </div>
            <div class="col-md-4">
                <!-- mars_facts json -->
                <div>
                    <h3>mars_facts</h3>
                    <!-- line width 2px -->
                    <table border="1px">
                        <tr>
                            <th>
                                <p>{{mars_facts[0]['Description']}}</p>
                            </th>
                            <th>
                                <p>{{mars_facts[0]['Mars']}}</p>
                            </th>
                            <th>
                                <p>{{mars_facts[0]['Earth']}}</p>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <p>{{mars_facts[1]['Description']}}</p>
                            </td>
                            <td>
                                <p>{{mars_facts[1]['Mars']}}</p>
                            </td>
                            <td>
                                <p>{{mars_facts[1]['Earth']}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>{{mars_facts[2]['Description']}}</p>
                            </td>
                            <td>
                                <p>{{mars_facts[2]['Mars']}}</p>
                            </td>
                            <td>
                                <p>{{mars_facts[2]['Earth']}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>{{mars_facts[3]['Description']}}</p>
                            </td>
                            <td>
                                <p>{{mars_facts[3]['Mars']}}</p>
                            </td>
                            <td>
                                <p>{{mars_facts[3]['Earth']}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>{{mars_facts[4]['Description']}}</p>
                            </td>
                            <td>
                                <p>{{mars_facts[4]['Mars']}}</p>
                            </td>
                            <td>
                                <p>{{mars_facts[4]['Earth']}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>{{mars_facts[5]['Description']}}</p>
                            </td>
                            <td>
                                <p>{{mars_facts[5]['Mars']}}</p>
                            </td>
                            <td>
                                <p>{{mars_facts[5]['Earth']}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>{{mars_facts[6]['Description']}}</p>
                            </td>
                            <td>
                                <p>{{mars_facts[6]['Mars']}}</p>
                            </td>
                            <td>
                                <p>{{mars_facts[6]['Earth']}}</p>
                            </td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- show mars_hemisphere -->
            <div class="col-md-12">
                <h1>Mars Hemisphere</h1>
                <div class="row">
                    <div class="col-md-6">
                        <h3>{{mars_hemisphere[0]['title']}}</h3>
                        <div><img src="{{mars_hemisphere[0]['img_url']}}" alt="mars_hemisphere" width="100%"></div>
                        
                    </div>
                    <div class="col-md-6">
                        <h3>{{mars_hemisphere[1]['title']}}</h3>
                        <div><img src="{{mars_hemisphere[1]['img_url']}}" alt="mars_hemisphere" width="100%"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>{{mars_hemisphere[2]['title']}}</h3>
                        <div><img src="{{mars_hemisphere[2]['img_url']}}" alt="mars_hemisphere" width="100%"></div>
                    </div>
                    <div class="col-md-6">
                        <h3>{{mars_hemisphere[3]['title']}}</h3>
                        <div><img src="{{mars_hemisphere[3]['img_url']}}" alt="mars_hemisphere" width="100%"></div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>